body {
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    }

    #section1 {
    margin-left:10px;
    height: 350px;
    background-image:
    url('https://i.postimg.cc/hScyRgMc/logo-v4.jpg');
    }

    #section2 {
    height: 230px;
    }

    #section3 {
        height: 1000px;
        background-image:
        url('https://i.pinimg.com/originals/f7/1a/af/f71aaf6925ab5b8700f9b959cd1e2a23.jpg');
        background-size: 100%;
        margin-top: 118px;
    }

    #section4 {
        height: 1000px;
        background-image:
        url('https://media.istockphoto.com/photos/abstract-geometric-background-picture-id1163528314?k=20&m=1163528314&s=612x612&w=0&h=G_ZZtId9VNT0f9US5PP9UUfH21OIGBFw5do151LJB3s=');
        background-size: 100%;
        margin-top: -25px;
    }

    #section5 {
        height: 980px;
        background-image:
        url('https://t3.ftcdn.net/jpg/03/65/75/56/360_F_365755691_ylmF7k7q0wxMLIaeZdR7DcKBcKOf5Yot.jpg');
        background-size: 120%;
        margin-top: 10px;
        overflow: hidden;
    }

    body {
        background-color: white;
        }
    
        .hero {
            width: 100%;
            height: 100vh;
            position: relative;
            padding: 0 5%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .back-video{
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            display: flex;
            object-fit: fill;
        }
        .main {
            text-align: center;
        }
        .main h1 {
            font-size: 60px;
            font-weight:400;
            color: black;
            text-shadow: 2px 2px 4px grey;
            font-family: Lucida Handwriting;
            margin-top: 2px;
        }

        .main h2 {
            margin-top: -20px;
        }

        .main h3 {
            font-size: 60px;
            font-family: 'Architects Daughter';
            position: relative;
            left: -550px;
            top: 450px;
            margin-top: 2px;
        }
        
        .main h4 {
            font-size: 60px;
            font-family: 'Architects Daughter';
            position: relative;
            left: -450px;
            top: 40px;
            margin-top: 2px;
        }

        .main h5 {
            font-size: 20px;
            text-align: left;
            left: 60px;
            right: -100px;
            position: relative;
        }

        .main h6 {
            font-size: 15px;
            text-align: left;
            line-height: 1.5;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 60px;
            margin-right: 25px;
        }


        .main h7 {
            font-size: 60px;
            font-family: 'Architects Daughter';
            position: relative;
            top: 40px;
            margin-top: 2px;
        }

        .main h8 {
            font-size: 15px;
            text-align: left;
            line-height: 1.5;
            margin-top: 25px;
            font-weight: bold;          
        }

        .main p {
            font-size: 15px;
            text-align: left;
            line-height: 1.5;
            margin-top: 25px;
            margin-bottom: 25px;
            margin-left: 60px;
            margin-right: 25px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropbtn {
            text-decoration: none;
            display: inline-block;
            color: white;
            font-size: 24px;
            border: 2px solid white;
            padding: 14px 50px;
            border-radius: 50px;
            margin-top: 10px;
            background-image: linear-gradient(to right, silver , grey);
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #ddd;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}

        .menu {
            font-size: 15px;
            font-family: calibri;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .nav {
            border: 2px solid grey;
            padding: 5px 20px;
            border-radius: 50px;
            background-image: linear-gradient(to right, silver , white);
        }

        .container {
            position: relative;
            width: 45%;
            top: -100px;
            right: -800px;
        }

        #img1 {
            position: relative;
            width: 45%;
            right: -800px;
            top: -80px;
        }

        #img2 {
            position: relative;
            width: 45%;
            right: -800px;
            top: -60px;
        }

        #img3 {
            position: relative;
            width: 45%;
            right: -800px;
            top: -40px;
        }

        #img4 {
            position: relative;
            width: 50%;
            right: -60px;
            top: 0px;
        }

        #img5 {
            position: relative;
            width: 55%;
            right: -510px;
            top: -230px;
            height: 23%;
        }

        #img6 {
            position: relative;
            width: 53%;
            right: -1000px;
            top: -460px;              
        }

        #img7 {
            position: relative;
            right: -300px;
            top: 30px;           
        }

        #img8 {
            display: block;
            margin-left:-300px;
            margin-top: -605px;
            width: 10%;       
        }

        #img9 {
            position: relative;
            right: -852px;
            top: -255px;
            width: 10%;        
        }

        #img10 {
            position: relative;
            right: -960px;
            top: -70px;
            width: 10%;        
        }

        #img11 {
            position: relative;
            right: -680px;
            top: -20px;
            width: 10%;        
        }

        #img12 {
            position: relative;
            right: -390px;
            top: -380px;
            width: 10%;         
        }

        #login {
            background-image:
            url('https://t3.ftcdn.net/jpg/03/65/75/56/360_F_365755691_ylmF7k7q0wxMLIaeZdR7DcKBcKOf5Yot.jpg');
            background-size: 100%;
            height: 500px;
            background-size: cover;

        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .container:hover .image {
            opacity: 0.3;
        }

        .container:hover .middle {
            opacity: 1;
        }

        .text {
            background-color: silver;
            color: black;
            font-size: 16px;
            padding: 16px 32px;
        }

        h1 {
            font-family: 'Architects Daughter';
            text-align: center;
        }

        h3 {
            text-align: center;
            font-family: sans-serif;
        }
        h3.mission {
            text-align: center;
            font-family: sans-serif;
            font-size: small;

        }

        h3.profile {
            text-align: center;
            font-family: sans-serif;
            font-size: medium;
            font-weight: bold;
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        table {
            background-color: rgb(240, 240, 240);
            color: black;
            margin-left:auto; 
            margin-right:auto;
        }
        
        table.striped-columns tbody td:nth-of-type(even),
        table.striped-columns th:nth-of-type(even){
            background: rgb(235, 227, 209);
            display: table-cell;
            padding: 10px;
        }
        
        
        table.border td {
            border: 1px solid grey;
            padding: 3px;
            font-size: medium;
            font-weight: lighter;
            text-align: left;
        }

        table.border th {
            border: 1px solid grey;
            padding: 5px;
            font-size: small;
            font-weight: bold;
        }

        table.border th.heading {
            font-size:medium ;
        }

        table.one {
            width:90%;
            margin-left: auto;
            margin-right: auto;
        }

        table.two {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .submitbtn {
            text-decoration: none;
            display: inline-block;
            color: rgb(0, 0, 0);
            font-size: 24px;
            border: 2px solid rgb(0, 0, 0);
            padding: 14px 50px;
            border-radius: 50px;
            
            position: relative;
            margin-top: -500px;
            background-image: linear-gradient(to right, rgb(255, 255, 255) ,rgb(235, 227, 209));
        }
        
        .purple {
            color: goldenrod;
        }

        .top-left {
            position: absolute;
            top: 8px;
            left: 16px;
            font-weight: bold;
            background-color: white;
          }

          .center {
            display: block;
            margin-left: 50px;
          }


body {
    background: url('https://wallpaperaccess.com/full/1159274.jpg') no-repeat 
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    position: relative;
    width: 90%;
    top: 0px;
    right: 0px;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}


.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}




    /* Set height of body and the document to 100% */
    body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    }

    /* Style tab links */
    .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    }

    .tablink:hover {
    background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
    color: white;
    display: none;
    padding: 65px 20px;
    height: 100%;
    }

    #Results {background-color: grey;}
    #Courses {background-color: grey;}
    #Community {background-color: grey;}




@import url('https://fonts.googleapis.com/css?family=Roboto:300');



header {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  text-align:center;
  color:#555;
  font-family:'Architects Daughter';
  font-weight:300;
  font-size:27px;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  
 
}

header:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s infinite;
}

header:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

header:last-of-type span {
  margin-left:0px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}



* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background: url("https://image.shutterstock.com/image-vector/abstract-technology-concept-grey-web-260nw-619785029.jpg"); no repeat
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 10px;
  
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 45px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.h9 {
    font-weight: bold;
    font-size: medium;
    font-family:'Lucida Sans'
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    height: 430px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-image: linear-gradient(white, grey);
    color: black;
}  

.flex-child:first-child {
    margin-right: 20px;
    vertical-align: middle;
} 

#newshead {
    font-size: large;
    color: gold;
    font-weight: bold;
    text-align: center;

}


.toprow {
    background-color: gold;
    padding: 12px 15px;
}

.toprow2 {
    background-color: rgb(6, 239, 232);
    padding: 12px 15px;
}

.toprow3 {
    background-color: rgb(235, 155, 250);
    padding: 12px 15px;
    font-family: cursive;
}

#complete {
    background-image: url("https://c8.alamy.com/zooms/9/1ab5b2ffa50f4d4b93a5a8986990226b/t67pbm.jpg"); 
    object-fit: cover
}

.gold {
    color: gold;
    padding-right:140px;
}

.blue {
    color: rgb(6, 239, 232);
}
p.yeargroup {
    font-size: small;
    font-weight: bold;
}
.coursebody {
    font-style: oblique;
    padding: 8px;
    line-height: 23px;
    
}

.course {
    cursor: pointer;
}

.styled-table {
    border-collapse: collapse;
    
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-size:medium;
    font-weight: bold;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



  
  
  .sbtn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position:relative;
    top:0px;
    right:-200px;
    box-shadow: 6px 5px black;
  }
  

.surveytitle {
    font-size:x-large;
    font-weight: bold;
    font-family:'Lobster';
}



 .footer-basic {
    padding:40px 0;
    position:relative;
    height:200px;
    bottom: -200px;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
    background: url("https://image.shutterstock.com/image-vector/glowing-techno-abstract-background-black-260nw-552302281.jpg"); no repeat
    center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 10px;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  

  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  /* Credit to https://epicbootstrap.com/snippets/footer-basic */
  